#json-tree {
	height: 1fr;
	border: solid white;
}

#input-filter {
	height: 3;
	border: solid blue;
}

GDBWindow {
	height: 1fr;
}

#gdb_log {
    height: 1fr;
    border: solid white;
}

#gdb_input {
    height: 3;
    border: solid yellow;
}

.column {
	width: 1fr;
}
