@INCLUDE = general.cfg

# If the GENERATE_LATEX tag is set to YES, doxygen will generate LaTeX output.
# The default value is: YES.

GENERATE_LATEX         = NO

# If the GENERATE_HTML tag is set to YES, doxygen will generate HTML output
# The default value is: YES.

GENERATE_HTML          = YES

# The HTML_OUTPUT tag is used to specify where the HTML docs will be put. If a
# relative path is entered the value of OUTPUT_DIRECTORY will be put in front of
# it.
# The default directory is: html.
# This tag requires that the tag GENERATE_HTML is set to YES.

HTML_OUTPUT            = $(HTML_OUT)

# This tag can be used to specify a number of aliases that act as commands in
# the documentation. An alias has the form:
# name=value
# For example adding
# "sideeffect=@par Side Effects:^^"
# will allow you to put the command \sideeffect (or @sideeffect) in the
# documentation, which will result in a user-defined paragraph with heading
# "Side Effects:". Note that you cannot put \n's in the value part of an alias
# to insert newlines (in the resulting output). You can put ^^ in the value part
# of an alias to insert a newline as if a physical newline was in the original
# file. When you need a literal { or } or , in the value part of an alias you
# have to escape them by means of a backslash (\), this can lead to conflicts
# with the commands \{ and \} for these it is advised to use the version @{ and
# @} or use a double escape (\\{ and \\})

ALIASES  = ac{1}="[\1](\ref ACRONYM_\1)"
ALIASES += acp{1}="[\1s](\ref ACRONYM_\1)"
ALIASES += acronym{2}="\anchor ACRONYM_\1 **\1** \2 <br>"
ALIASES += listing{2}="<div class=\"listing\">\anchor \1<div><b>Listing: \2</b></div>"
ALIASES += listing="<div class=\"listing\"><div></div><div class=\"code-raw\">"
ALIASES += endlisting="</div><br>"
ALIASES += figure="\figure{h}"
ALIASES += figure{1}="<div class=\"listing\">"
ALIASES += endfigure{2}="<div>\anchor \1<b>Figure: \2</b></div></div><br>"
ALIASES += r{1}="\ref \1"
ALIASES += fn{1}="<sup class=\"footnote\" title=\"\1\"></sup>"
ALIASES += cr{1}="\cite \1"
ALIASES += gr{1}="\ref ::at.ac.tuwien.complang.vadl.VADL.\1 \"\1\""
ALIASES += lbl{1}="\anchor \1"